.header {
	background: white;
	padding: 10px;
  text-align: center;
  position: fixed;
  width: 100%;
  h1 {
    font-weight: 300;
    display: inline;
  }
  .right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 32px;
  }
}